body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: gray;
    text-align: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
  }

  .nav a {
    text-decoration: none;
    color: gray;
  }

  .nav a:hover {
    text-decoration: underline;
    color: blue;
  }

  .nav a.active {
    text-decoration: underline;
    color: blue;
  }

  .li {
    list-style: none;
  }
