/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  }


 body {
background-color: #b5d9ef;
 } 

/* Set font family (you can choose your own) */
#indexBody {
  font-family: Arial, sans-serif;
  background: linear-gradient(#b5d9ef,#69a2c5, #0f669c);
}

/* Style the navbar */
nav {
  background-color: #0f669c;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo h2 {
  font-size: 40px;
}

/* Style the navigation links */
.nav-items ul {
  list-style: none;
  display: flex;
}

.nav-items ul li {
  margin-right: 20px;
}

.nav-items ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-items ul li a:hover {
  color: #021c2c;
}

/* Make the navbar responsive */
@media screen and (max-width: 600px) {
  .nav-items ul {
      display: none;
  }

  .nav-items ul.overview {
      display: block;
  }
}

.container{
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}  

.title{
  margin-left: 20px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #021c2c;
  text-shadow: 2px 2px 2px #0f669c;
 
}

.about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  line-height: 1.6;
  color: #021c2c;
  
  
}

.image{
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;
 
 
 }

.image img{
  width: 100%;
  transition: transform 0.3s ease;
 
 
}

.image:hover img{
  transform: scale(1.1);
}

.content{
flex: 1;
margin-left: 20px;
text-align: center; 
border: 10px solid #0f669c;
background-color: #b5d9ef;
padding: 20px;
}

.blog{
  text-align: center;
}

.blogButton {
  background-color: #021c2c;
  color: white;
  padding: 15px 25px;
  text-decoration: none;

  }



@media screen and (max-width: 768px){
  .about-content{
    flex-direction: column;
  }
  .image, .content{
    margin: 0;
    margin-bottom: 20px;
  }
}
  
footer {
  background-color: #021c2c;
  margin-top: auto; /* Align the footer to the bottom */
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;
}



footer li {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
  color: #ffffff;
  
  
}

#LinkedIn {
  color: #ffffff;
  font-size: 260%;
}