/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  }


 body {
/*background-color: #b5d9ef;*/
background-image: url(../images/map1.jpg);
background-repeat: no-repeat;
background-size: cover;



 } 

/* Set font family*/
#indexBody {
font-family: Arial, sans-serif;
background-image: url(../images/map1.jpg);
background-repeat: no-repeat;
background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #021c2c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: #021c2c;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #0f669c;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*styling index.html*/
.container{
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}  
/*styling index.html*/
.title{
  margin-left: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 5px 2px 2px #021c2c;

  
 
}
/*styling index.html*/
.about-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  line-height: 1.6;
  color: #021c2c;
  
  
}
/*styling index.html image*/
.image{
  flex: 1;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 10px;

  
 }

 /*styling index.html and books.html image*/
.image img{
  width: 100%;
  transition: transform 0.3s ease;
 
 
}
/*styling index.html and books.html image*/
.image:hover img{
  transform: scale(1.1);
}

.content{
flex: 1;
margin-left: 20px;
text-align: center; 
border: 10px solid #0f669c;
background-color: #b5d9ef;
padding: 20px;
}
/*styling blog.html title*/
.blog{
  text-align: center;
  

}
/*styling blog.html button*/
.blogButton {
  background-color: #021c2c;
  color: #ffffff;
  padding: 15px 25px;
  text-decoration: none;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
   }

/* add background color to main text on blog.html page because of the map image*/
.blogContent p {
border: 10px solid #0f669c;
background-color: #b5d9ef;
padding: 20px;
}



@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .image, .content{
    margin: 0;
    margin-bottom: 20px;
  }
}


/*Footer*/  
footer {
  background-color: #021c2c;
  margin-top: auto; /* Align the footer to the bottom */
 text-align: center;
 position: fixed;
 bottom: 0;
 width: 100%;
}



footer li {
  display: inline-block;
  margin: 0 20px;
  vertical-align: middle;
  color: #ffffff;
  
}

#LinkedIn {
  color: #ffffff;
  font-size: 260%;
}

/*Position text on books.html*/
h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 5px 2px 2px #021c2c;

}

.contactMain {
text-align: center; 
border: 10px solid #0f669c;
background-color: #b5d9ef;
padding: 20px;
font-size: 18px;
}
